{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Especialistas en furgonetas camperizadas{% endblock %}
{% block description %}Furgomania, empresa especializada en furgonetas camperizadas. Kits autoinstalables para todo tipo de furgonetas. Convierte tu furgoneta en un autentica camper.{% endblock %}
{% block article %}

<script>
fbq('track', 'ViewContent');
</script>



<section class="content">
	
	<h1>Empresa</h1>
	
	<article class="content">
		<div class="row">
			
			<div class="span12">

				<h2>Especialistas en furgonetas camperizadas</h2>
				<p><strong>Furgomania</strong> es la empresa española especializada en <strong>equipar furgonetas camper</strong> con kits autoinstalables fáciles de montar o desmontar, perfectamente adaptados a todos los modelos de furgonetas camper actuales.</p>
				<p>Ofrecer un producto cómodo, versátil y de fácil acceso para los aficionados al camper van, ha sido nuestra ilusión y compromiso desde los años 80.</p>
				<p><i>¿Te imaginas disponer de una única furgoneta para todo? ¿Una furgoneta diseñada para trabajar, disfrutar de la aventura y viajar sin tener que renunciar a su espacio o diseño?</i></p>
				<p>En Furgomania, lo hemos conseguido.</p>
				<p>Tras un largo camino de experiencias y mucha ilusión, hemos logrado que tú también puedas obtener el máximo rendimiento de tu <strong>furgoneta camperizada</strong> gracias a nuestro sistema único de Kits autoinstalables para equipar furgonetas.</p>
				<p>Sin necesidad de herramientas ni conocimientos técnicos,  sin tener que volver a pasar la ITV y sobre todo, sin tener que realizar una gran inversión económica.</p>

			</div>
			
		</div>
		<div class="row">
			
			<div class="span12">

				<p><img src="/img/empresa.jpg" alt=""></p>

				<blockquote>desde siempre, las furgonetas camperizadas han sido parte de nuestras vidas.</blockquote>

				<h3>Del mobiliario a medida a la creación de kits autoinstalables para furgonetas camper</h3>
				<p>La afición y el deseo de movernos en furgonetas, ha formado parte de nuestras vidas.</p>
				<p>Durante los años 80 y 90, Furgomania dedicó todos sus esfuerzos en crear un mobiliario más práctico y eficaz para <strong>camperizar furgonetas a medida</strong>.</p>
				<p>Eran diseños rudimentarios, instalados para conseguir un objetivo claro y totalmente personalizados. Así, durante más de 20 años, se realizaron cientos de modelos personalizados para equipar furgonetas adaptadas a las exigencias del cliente.</p>
				<p>Sin embargo, el deseo de conseguir mejores acabados y un sistema de “quita y pon” capaz de crear espacios fácilmente, nos llevó a diseñar un producto único y más funcional para <strong>equipar furgonetas camper</strong>.</p>
				<p>Era el año 2010 y acababan de nacer los <a href="{{path('fm_main_paginas_furgonetacamper')}}">kits autoinstalables</a> de Furgomania.</p>
				<p>El primer Kit diseñado para Mercedes fue el inicio de una serie de mobiliario y complementos que han revolucionado el sector de las furgonetas camper van en España.</p>
				<p>En la actualidad, seguimos mejorando nuestro sistema patentado con el objetivo de conseguir mayores prestaciones para tu furgoneta camper desde cualquier lugar de Europa.</p>
				
			</div>
				
		</div>
	</article>
</section>
	
{% endblock %}