{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Concesionarios{% endblock %}
{% block description %}{% endblock %}
{% block article %}


  <section class="content">
    <section>
      <div class="row">
        <div class="span12">
          <div class="hero-unit hero-color">
            <h1>concesionarios oficiales VolksWagen que exponen nuestros equipamientos</h1>
          </div>
        </div>
      </div>
    </section>
{% endblock %}