{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Volkswagen Transporter Furgomania{% endblock %}
{% block description %}{% endblock %}
{% block article %}

{% set names = [
'FRANCISCO JAVIER GONZÁLEZ MONTESDEOCA',
'francisco javier montesdeoca gonzalez'
]	
%}


<section>
	<div class="row">
        <div class="span12">
          <img class="img-responsive" alt="Volkswagen Transporter Furgomania" src="/img/furgos/volkswagen-transporter-furgomania.jpg">
        </div>

		<div class="span12">
			<h1>{{"INTERESADOS EN LA VOLKSWAGEN TRANSPORTER FURGOMANIA" | trans }}</h1>
		</div>

        <div class="span12">
          <ul class="alignCenter BigText">
	  		{% for name in names %}
				<li>{{name}}</li>
			{% endfor %}
		  </ul>
        </div>
		
	</div>
</section>


{% endblock %}