{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Volkswagen Furgomania{% endblock %}
{% block description %}{% endblock %}
{% block article %}

{% set names = [
'Agüera gomez, Fco javier',
'Aguila Martinez, Isabel',
'AGUIRRE GARCÍA, MONICA',
'ALAÑA HEREDERO, RAUL',
'Alhambra Borja, Pablo',
'Alonso Marban, Juan Pablo',
'Alvarez Mota, Maria',
'Arderiu Viudes, Josep',
'ARNAIZ, JOSE RAMON',
'Arrieta, Mikel',
'Artola Urquizu, Oskar',
'Baranguan, Iker',
'BARCINA ROJO, ABEL',
'Barcina Virumbrales, Pedro',
'Barea Chacón, Miguel angel',
'Bea, Xavier',
'Becaresmartinbenito martin, Benito',
'Belda Monzon, Juan',
'Bentancour, Romina',
'Bermudez Peral, José luis',
'Bernad Morales, Israel',
'Blanco Gómez, Emilio',
'Blanco Navarro, Daniel',
'Blanco Velarde, Jeronimo',
'Borrella, Angel',
'Boto Fernandez, Francisco',
'Bule Martos, Diego',
'caballero, José miguel',
'Caballero Ortiz, Javier',
'CABRERA RAMIREZ, DANIEL',
'CALLEJA, JONATAN',
'Camps i Terricabras, Albert',
'Camps Sanchez, Ambrosio',
'Caño Nieto, Oscar',
'Capell Pernia, Oscar',
'caras, miguel',
'Carrasco, Gerard',
'casal barcia, gonzalo',
'Casals zamora, Pere',
'castellot doblas, José Luis',
'Castrillo, Pablo',
'Castro, Javier',
'Cepedano Cañon, Fernando',
'Cienfuegos-Jovellanos, Jose',
'Cobo García, David',
'Cobos García, Adrian',
'Codony ciratusa, Cristian',
'Corrales Exposito, Gustavo',
'Corrales Zapater, Guillermo',
'Crespo Gomez, Andres',
'cristobal harina, alejandro',
'Cutanda Gómez, Alejandro',
'De Alba Rando, Vanessa',
'De Damborenea Martin, Pablo',
'DE LOS DOLORES LUCAS, ANDRÉS MIGUEL',
'DE MELO GUIMERA, JOSE M',
'de San José Gonzalez, Javier',
'Delgado Galeano, Floren',
'Delgado Sánchez, Oscar',
'Díaz Álvarez, Daniel',
'DÍAZ NAVARRO, CRISTOBAL',
'Diez, Andoni',
'Duran, Niki',
'Echagüe Guardiola, Juan',
'Egea, Jordi',
'Elezkano Pardo, Iker',
'Escorihuela sales, Jorge',
'España Villa, Luis',
'Espino Garcia, Rafael',
'falcet llorca, ana',
'Falgas Sánchez, David',
'Farré i Falcó, Ramon',
'Fernández Cubo, Luis Miguel',
'FERNÁNDEZ GALVÍN, ÁNGELA',
'Fernández garcia, José enrique',
'Fernández Jiménez, David',
'Fernandez Marin, Ruben',
'Fernández peidro, david',
'ferrón becerra, juan antonio',
'Fornell Velazquez, Noelia',
'Fortes Santaella, Ruben',
'Franco Bescós, Pablo',
'Franco Venero, Garikoitz',
'Fuentes Puntas, Javier Israel',
'Galera Capitán, Francisco Manuel',
'Gallego Lopez, Ivan',
'Galván Espinosa, José',
'Gamero galan, Julio',
'Garcia Araujo, Bony',
'Garcia Jimenez, Jose Antonio',
'García Lamuño, Inés',
'Garcia Nieto, Fernando',
'Garcia Perez, Maria',
'garcia ruiz, david',
'García Salas, Jesus',
'Garcia Vilanova, Marc',
'Garrido Alonso, Federico',
'Gatón, Antonio',
'Gavidia Camara, Ramses',
'GIL CABOT, VICENTE',
'Gil Cabot, Vicente',
'Gil Fernandez, Juan Carlos',
'Gil sanchez-vallejo, Antonio',
'Gomez, Javier L',
'Gomez canillas, Abel',
'Gómez de Frutos, Angel Luis',
'Gomez martinez, Iris',
'Gómez ruiz, galder',
'González de la Rica, Javier',
'GONZÁLEZ MONTESDEOCA, FRANCISCO JAVIER',
'Gonzalez Peña, José Antonio',
'González Sampedro, Omar',
'Grassa Miranda, Jpablo',
'Grimaltos Ribes, Vicent',
'Gunella Fernández, Patrick',
'Gutierrez Guillen, Manuel',
'Gutierrez Infante, Manuel',
'GUTIERREZ MACIAS, JUAN BOSCO',
'Heidel, Claudio',
'Hernández García, Víctor',
'Hernández Pérez, David',
'Hernandez Sanchez, Ricardo',
'HERNANDO ABIA, ROBERTO',
'Hernando Gómez, Daniel',
'Hernansaiz Blanch, JAVIER',
'hormigo gil, fco.angel',
'Infante Martín, Silvia',
'iñesta marco, david',
'izquierdo allueva, alberto',
'Jacas Dasilva, Alex',
'Jiménez bermudez, M.carmen',
'Juárez Gómez, Paola',
'Jurado Barroso, José Luis',
'Jz, Xabier',
'Laborda sanchez, Jesus',
'Larrañaga Espartero, Gaizka',
'LAZARO, ORIOL',
'Ledesma frutos, Luis',
'Leon Gil, Jose Maria',
'Limenes Gay, Iván',
'Linares Valera, Carlos',
'Lopez, Alberto',
'Lopez Alvarez, Jose',
'Lopez Garcia, Antonio Valeriano',
'López garcia, carlos',
'López López, Alberto',
'López Rodríguez, Francisco',
'Lorenzo Hinjosa, Eric',
'Lorenzo Hinojosa, Raul',
'Luz, Claudio',
'Mampel, Nacho',
'Marquez Vacas, Alvaro',
'Martín García, Natalia',
'Martinez, Javier',
'Martínez Bosch, Miguel Ángel',
'Martínez Mendoza, Jose',
'Martinez Rodriguez, Francisco',
'martinez vinatea, alejandro',
'MARTÍNEZ VINATEA, JACOB',
'Masegosa, Roger',
'Masmitja, Sergio',
'Massa Achútegui, Jorge',
'Medina Gaite, Lucas',
'Menéndez Villar, Carlos',
'Molina Hoyos, Jorge',
'Monserrat Lazaro, Ignacio',
'Montalvo Madridano, Carlos',
'Morales Alarcón, Antonio',
'Moran, Lucía',
'Morejon Cayetano, Ana Cristina',
'Moreno Real, Carlos',
'Muiño López, Natalia',
'Muñoz Garcia, Jordi',
'Navarro galvez, José Luis',
'Novo Pérez, Brais',
'Oliva Casañas, Arturo',
'Ormazábal, Albert',
'OROZCO ORTS, OSCAR',
'Orta eneriz, Sergio',
'Ortiz Castaño, Angel',
'Ortiz ruiz, Belinda',
'Otero Marnotes, Carlos',
'Oteros urbano, Francisco',
'Pacheco Agudo, Carlos',
'Palomar, Francisco',
'Panella Ubeda, Joan',
'Paredes grau, Pablo',
'Paredes Misa, Juan',
'Patrick, LEJEUNE',
'Pazo Pérez, Marcos',
'Peiris matas, Enric',
'Pérez Carrasco, Damaso',
'PÉREZ CASTELLÓ, MANUEL',
'Perez Dominguez, Ivan',
'Perez sanz, Dario',
'Pérez Zúñiga, M Carmen',
'Pericacho Aguila, Erica Sarai',
'Plana Bach, Xavier',
'Plana Cases, Óscar',
'Pomares Reyes, Miguel Angel',
'Quiles Jaque, Alberto Tomás',
'Quiñoá Casteleiro, Jacobo',
'raigon, oscar',
'RECIO DAMÍN, FRANCISCO JAVIER',
'Rios cabrera, Aday',
'roca catllà, marc',
'Rodríguez, Omar',
'Rodríguez Borges, Gema María',
'Rodriguez Gonzalez, Manuel',
'RODRIGUEZ TEY, ROSENDO',
'Roig Ruiz, Carlod',
'Romeo Carbonell, David',
'Romero Lagostena, Maria Jesus',
'Romero Torregrosa, Francisco José',
'Ros, Nataixa',
'Rubio Cánovas, Jose',
'Ruiz Estalayo, Jose David',
'Ruiz zubelzu, Raul',
'Safont Herrera, Santi',
'Sanchez Alvarez, Pelayo',
'Sanchez bernaldo, Roberto',
'SANCHEZ GARCIA, ALEJANDRO',
'Sánchez Gómez, Ana',
'Sánchez González, Sergio',
'Sánchez Ramos, Juan',
'Santana Antonio, Ayoze',
'Santos, Raúl',
'Sanz sanz, Luis miguel',
'Serrano jimenez, Antonio',
'Sierras Suárez, Miguel Angel',
'Socias Alejandro, Eduard',
'Socias Alejandro, Victor',
'Sosa Gil, Jose',
'Tallón galdeano, Sergio',
'Tapia Gonzalez, Miguel Angel',
'Tejedor lopez, David',
'Terol Buchó, Pablo',
'Torres alfaro, Dolores',
'Torres palau, Manuel david',
'Tovar, Emilio',
'Valdés Lavin, Pablo',
'Vázquez, Sergio',
'Vázquez castaño, María',
'Vázquez Río, Fernando',
'Velez Bermudez, Alberto',
'Vidal Pallarés, Sergio',
'Vidal Valencia, Sergi',
'Vinaixa Garcia, Jordi',
'Zaton cano, Ana'
]	
%}



<section>
	<div class="row">
        <div class="span12">
			<h1>LISTADO DE INTERESADOS EN LA COMPRA CONJUNTA DE LA VW T6</h1>
		</div>

        <div class="span12">
			<p>(Actualización del listado semanal)</p>
			<h3>Si estás interesado en la compra conjunta de la Volkswagen Furgomania, VISITA NUESTRO <a href="https://www.facebook.com/Furgomania/">FACEBOOK</a> Y ¡ÚNETE!. Pon un comentario en la publicación que verás en primera posición de nuestro muro y nosotros nos pondremos en contacto contigo.</h3>
        </div>
		
        <div class="span6">
			<ol>
				{% for name in names %}
					<li class="BigText">{{name | title}}</li>
				{% endfor %}
			</ol>
        </div>
		
        <div class="span6">
          <img class="img-responsive" alt="Volkswagen Furgomania" src="/img/volkswagen-transporter-furgomania.jpg">
        </div>

	</div>
</section>


{% endblock %}