{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Volkswagen Furgomania{% endblock %}
{% block description %}{% endblock %}
{% block article %}

{% set names = [
'AGUDO SAINZ-MAZA, PABLO',
'Agüera gomez, Fco javier',
'Aguila Martinez, Isabel',
'AGUIRRE GARCÍA, MONICA',
'ALAÑA HEREDERO, RAUL',
'Alhambra Borja, Pablo',
'Alonso Marban, Juan Pablo',
'Alvarez Mota, Maria',
'Ameller Segui, Cristina',
'Arderiu Viudes, Josep',
'Aribau, Jordi',
'ARNAIZ, JOSE RAMON',
'Arrieta, Mikel',
'Artola Urquizu, Oskar',
'Bañuls Roselló, Casi',
'Baranguan, Iker',
'Barbosa Gómez, Antonio',
'BARCINA ROJO, ABEL',
'Barcina Virumbrales, Pedro',
'Barea Chacón, Miguel angel',
'Barroso muñoz, Javier',
'Bartolome, Jose',
'Bea, Xavier',
'Becaresmartinbenito martin, Benito',
'Belda Monzon, JUAN',
'Belenguer Salvador, Oscar',
'Bentancour, Romina',
'Bermudez García, Jesús',
'Bermudez Peral, José luis',
'Bernad Morales, Israel',
'Blanco Gómez, Emilio',
'Blanco Navarro, Daniel',
'Blanco Velarde, Jeronimo',
'Borrella, Angel',
'Boto Fernandez, Francisco',
'BRACO LOPEZ, Raul',
'Bule Martos, Diego',
'caballero, José miguel',
'Caballero Ortiz, Javier',
'CABRERA RAMIREZ, DANIEL',
'CALLEJA, JONATAN',
'Camps i Terricabras, Albert',
'Camps Sanchez, Ambrosio',
'Caño Nieto, Oscar',
'Capell Pernia, Oscar',
'caras, miguel',
'Carrasco, Gerard',
'casal barcia, gonzalo',
'Casals zamora, Pere',
'castellot doblas, José Luis',
'Castrillo, Pablo',
'Castro, Javier',
'Castro Pereiro, Roberto',
'Causanillas borrell, Monica',
'Cazorla Pérez, José María',
'Cepedano Cañon, Fernando',
'Cerrada Garcia, Raul',
'CHAVES RODRIGUEZ, FABIO',
'Cienfuegos-Jovellanos, Jose',
'Cobo García, David',
'Cobos García, Adrian',
'Codony ciratusa, Cristian',
'Consul Montull, Marc',
'Corominas baro, Ivan',
'Corrales Exposito, Gustavo',
'Corrales Zapater, Guillermo',
'Crespo Gomez, Andres',
'Crespo miguel, Mario',
'cristobal harina, alejandro',
'Cutanda Gómez, Alejandro',
'De Alba Rando, Vanessa',
'De Damborenea Martin, Pablo',
'de la Fuente Lopez, Manuel Francisco',
'DE LOS DOLORES LUCAS, ANDRÉS MIGUEL',
'DE MELO GUIMERA, JOSE M',
'de San José Gonzalez, Javier',
'Delgado Galeano, Floren',
'Delgado Sánchez, Oscar',
'Díaz Álvarez, Daniel',
'Díaz Garcia, Alberto',
'DÍAZ NAVARRO, CRISTOBAL',
'Diez, Andoni',
'Duran, Niki',
'Echagüe Guardiola, Juan',
'Egea, Jordi',
'Elezkano Pardo, Iker',
'Escorihuela sales, Jorge',
'España Villa, Luis',
'Espino Garcia, Rafael',
'Espinosa Mojica, Aitor',
'falcet llorca, ana',
'Falgas Sánchez, David',
'Farré i Falcó, Ramon',
'Farré i Falcó, Ramon',
'Fernández peidro, david',
'Fernández Cubo, Luis Miguel',
'FERNÁNDEZ GALVÍN, ÁNGELA',
'Fernández garcia, José enrique',
'Fernandez Garduño, Albert',
'Fernández Jiménez, David',
'Fernandez Marin, Ruben',
'Fernandez Soriano, Angel',
'ferrón becerra, juan antonio',
'ferrón becerra, juan antonio',
'Fornell Velazquez, Noelia',
'fornes alberola, juanjo',
'Fortes Santaella, Ruben',
'Franco Bescós, Pablo',
'Franco Venero, Garikoitz',
'Fuentes Puntas, Javier Israel',
'Galera Capitán, Francisco Manuel',
'Gallego Lopez, Ivan',
'Galván Espinosa, José',
'Gamero galan, Julio',
'Garcia Araujo, Bony',
'Garcia Jimenez, Jose Antonio',
'García Lamuño, Inés',
'Garcia maguregui, Urtzi',
'Garcia Nieto, Fernando',
'Garcia Perez, Maria',
'garcia ruiz, david',
'García Salas, Jesus',
'Garcia Vilanova, Marc',
'Garrido Alonso, Federico',
'Gato gutierrez, Jose',
'Gatón, Antonio',
'Gavidia Camara, Ramses',
'Gaya Magallon, Jorge',
'Gil Cabot, Vicente',
'Gil Fernandez, Juan Carlos',
'Gil sanchez-vallejo, Antonio',
'Gines Morales, Emilio',
'Gomez, Javier L',
'Gomez canillas, Abel',
'Gómez de Frutos, Angel Luis',
'Gomez martinez, Iris',
'gomez perez, juan miguel',
'Gómez ruiz, galder',
'González de la Rica, Javier',
'González gonzalez, Daniel',
'González González, Marcos',
'GONZÁLEZ MONTESDEOCA, FRANCISCO JAVIER',
'Gonzalez Peña, José Antonio',
'González Sampedro, Omar',
'Grassa Miranda, Jpablo',
'Grimaltos Ribes, Vicent',
'Gunella Fernández, Patrick',
'Gutierrez Castro, Borja',
'Gutierrez Centeno, Oscar Javier',
'Gutierrez Guillen, Manuel',
'Gutierrez Infante, Manuel',
'GUTIERREZ MACIAS, JUAN BOSCO',
'Heidel, Claudio',
'Hernández García, Víctor',
'Hernández Pérez, David',
'Hernandez Sanchez, Ricardo',
'HERNANDO ABIA, ROBERTO',
'Hernando Gómez, Daniel',
'Hernansaiz Blanch, JAVIER',
'hormigo gil, fco.angel',
'Ijalba Aguirre, Eduardo',
'Infante Martín, Silvia',
'iñesta marco, david',
'izquierdo allueva, alberto',
'Jacas Dasilva, Alex',
'Jiménez bermudez, M.carmen',
'Jiménez Miranda, JESUS',
'Juárez Gómez, Paola',
'Jurado Barroso, José Luis',
'Jz, Xabier',
'Laborda sanchez, Jesus',
'Larrañaga Espartero, Gaizka',
'LAZARO, ORIOL',
'Ledesma frutos, Luis',
'Leon Gil, Jose Maria',
'Limenes Gay, Iván',
'Linares Valera, Carlos',
'Lopez, Alberto',
'Lopez Alvarez, Jose',
'Lopez Garcia, Antonio Valeriano',
'López garcia, carlos',
'López López, Alberto',
'López Rodríguez, Francisco',
'Lopez-muñoz, Susana',
'lorente palop, rafael',
'Lorenzo Hinjosa, Eric',
'Lorenzo Hinojosa, Raul',
'Lozano Nuñez, Juan Carlos',
'Luz, Claudio',
'Mampel, Nacho',
'Marin baena, José antonio',
'Marquez Vacas, Alvaro',
'Martín García, Natalia',
'Martinez, Javier',
'Martínez Bosch, Miguel Ángel',
'MARTINEZ GONZALEZ, JESUS',
'Martínez Mendoza, Jose',
'Martinez Rodriguez, Francisco',
'martinez vinatea, alejandro',
'MARTÍNEZ VINATEA, JACOB',
'Martorell carbonell, Kirian',
'Mas, Bet',
'Masegosa, Roger',
'Masmitja, Sergio',
'Massa Achútegui, Jorge',
'Mayoral soberon, Alejandro',
'Medina Gaite, Lucas',
'Menéndez Villar, Carlos',
'Merino Acosta, Santiago',
'Molina Hoyos, Jorge',
'Monserrat Lazaro, Ignacio',
'Montalvo Madridano, Carlos',
'Morales Alarcón, Antonio',
'Moran, Lucía',
'Morejon Cayetano, Ana Cristina',
'Moreno Pérez, José Ángel',
'Moreno Real, Carlos',
'Mori, Miguel',
'Muiño López, Natalia',
'MUÑOZ CASTILLO, MARCOS ANTONIO',
'Muñoz Garcia, Jordi',
'Muñoz Hernandez, Esther',
'MUSQUERA MARCOS, JORDI',
'Navarro galvez, José Luis',
'Navarro Les, Nestor',
'NICOLAS PALAZON, JUAN JOSE',
'Novo Pérez, Brais',
'Oliva Casañas, Arturo',
'Ormazábal, Albert',
'OROZCO ORTS, OSCAR',
'Orta eneriz, Sergio',
'Ortega Leonardo, David',
'Ortiz Castaño, Angel',
'Ortiz ruiz, Belinda',
'Otero Marnotes, Carlos',
'Oteros urbano, Francisco',
'Pacheco Agudo, Carlos',
'Pagani, Matteo',
'Palomar, Francisco',
'Panella Ubeda, Joan',
'Paredes grau, Pablo',
'Paredes grau, Pablo',
'Paredes Misa, Juan',
'Patrick, LEJEUNE',
'Pazo Pérez, Marcos',
'Peiris matas, Enric',
'Pérez del Molino Lara, Enrique',
'Pérez Carrasco, Damaso',
'PÉREZ CASTELLÓ, MANUEL',
'Pérez Conde, Gustavo',
'Perez Dominguez, Ivan',
'Perez Gonzalez, Alberto',
'Perez sanz, Dario',
'Pérez Zúñiga, M Carmen',
'Pericacho Aguila, Erica Sarai',
'Pifarré Mas, Eduard',
'Pita López, Marcos',
'Pizarro, Susana',
'Plana Bach, Xavier',
'Plana Cases, Óscar',
'Pomares Reyes, Miguel Angel',
'Ponce Jimenez, Jaime',
'Porras Alegre, Ignasi',
'pregigueiro perez, ander',
'Quiles Jaque, Alberto Tomás',
'Quiñoá Casteleiro, Jacobo',
'raigon, oscar',
'Ramírez Roig, David',
'Rando Sanchez, Antonio',
'Ravelo, Samuel',
'RECIO DAMÍN, FRANCISCO JAVIER',
'Rey gomez, ismael',
'Rey Gomez, Ismael',
'Rios cabrera, Aday',
'RIVAS CASTRO, JOSE MANUEL',
'roca catllà, marc',
'Rodríguez, Omar',
'Rodríguez Borges, Gema María',
'Rodriguez Gonzalez, Manuel',
'RODRIGUEZ JUBERT, ELISABET',
'Rodríguez Montero, David',
'Rodriguez sobrino, Francisco',
'RODRIGUEZ TEY, ROSENDO',
'Roig Ruiz, Carlod',
'roman perez, sergio',
'Romeo Carbonell, David',
'Romero Lagostena, Maria Jesus',
'Romero Torregrosa, Francisco José',
'Ros, Nataixa',
'Royano, Marco',
'Rubio Cánovas, Jose',
'Ruiz, oscar',
'Ruiz Estalayo, Jose David',
'Ruiz zubelzu, Raul',
'Sabate Moya, Nuria',
'Safont Herrera, Santi',
'Saiz, Raquel',
'Sampedro Faedo, Raul',
'Sanchez Alvarez, Pelayo',
'Sanchez bernaldo, Roberto',
'Sánchez Durán, Julio',
'SANCHEZ GARCIA, ALEJANDRO',
'Sánchez Gómez, Ana',
'Sánchez González, Sergio',
'Sánchez Ramos, Juan',
'Sánchez Romero, Juan',
'Santana Antonio, Ayoze',
'Santos, Raúl',
'Sanz sanz, Luis miguel',
'Serna, Raul',
'Serrano jimenez, Antonio',
'Sierras Suárez, Miguel Angel',
'Socias Alejandro, Eduard',
'Socias Alejandro, Victor',
'Solares Saiz, Isaac',
'Sosa Gil, Jose',
'Tallón galdeano, Sergio',
'Tapia Gonzalez, Miguel Angel',
'Tejedor lopez, David',
'Terol Buchó, Pablo',
'Tevar collado, Ángela',
'Torres alfaro, Dolores',
'Torres palau, Manuel david',
'Torrilla, Patricia',
'Tovar, Emilio',
'Urueña Diez, Afrika',
'Valdés Lavin, Pablo',
'Vazquez, Silvia',
'Vázquez, Sergio',
'Vázquez castaño, María',
'Vázquez Río, Fernando',
'Vega García, Agustín',
'Velez Bermudez, Alberto',
'Vidal Pallarés, Sergio',
'Vidal Valencia, Sergi',
'Vidales Rodriguez, Diego',
'villodres garcia, david',
'Vinaixa Garcia, Jordi',
'Vinués Bo, Jordi',
'VIÑA CADIERNO, JUAN',
'Zaton cano, Ana'
]	
%}



<section>
	<div class="row">
        <div class="span12">
			<h1>LISTADO DE INTERESADOS EN LA COMPRA CONJUNTA DE LA VW T6</h1>
		</div>

        <div class="span12">
			<p>(Actualización del listado semanal)</p>
			<h3>Si estás interesado en la compra conjunta de la Volkswagen Furgomania, VISITA NUESTRO <a href="https://www.facebook.com/Furgomania/">FACEBOOK</a> Y ¡ÚNETE!. Pon un comentario en la publicación que verás en primera posición de nuestro muro y nosotros nos pondremos en contacto contigo.</h3>
        </div>
		
        <div class="span6">
			<ol>
				{% for name in names %}
					<li class="BigText">{{name | title}}</li>
				{% endfor %}
			</ol>
        </div>
		
        <div class="span6">
          <img class="img-responsive" alt="Volkswagen Furgomania" src="/img/volkswagen-transporter-furgomania.jpg">
        </div>

	</div>
</section>


{% endblock %}