{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Volkswagen Transporter Furgomania{% endblock %}
{% block description %}{% endblock %}
{% block article %}

{% set names = [
'FRANCISCO JAVIER GONZÁLEZ MONTESDEOCA',
'francisco javier montesdeoca gonzalez'
]	
%}


<section>
	<div class="row">
        <div class="span6">
			<h1>{{"INTERESADOS EN LA VOLKSWAGEN TRANSPORTER FURGOMANIA" | trans }}</h1>
			<ul>
				{% for name in names %}
					<li class="BigText">{% filter upper %} {{name}} {% endfilter %}</li>
				{% endfor %}
			</ul>
        </div>

        <div class="span6">
          <img class="img-responsive" alt="Volkswagen Transporter Furgomania" src="/img/furgos/volkswagen-transporter-furgomania.jpg">
        </div>
		
	</div>
</section>


{% endblock %}