{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Volkswagen Furgomania{% endblock %}
{% block description %}{% endblock %}
{% block article %}

{% set names = [
'FRANCISCO JAVIER GONZÁLEZ MONTESDEOCA',
'Manuel Gutierrez Guillen',
'Josep Arderiu Viudes',
'David Cobo García',
'Erica Sarai Pericacho Aguila',
'Sergi Vidal Valencia',
'Ramses Gavidia Camara',
'Carlos Linares Valera',
'Lucía Moran',
'Luis miguel Sanz sanz',
'Andoni Diez',
'Julio Gamero galan',
'José Luis Jurado Barroso',
'Omar Rodríguez',
'Jose Antonio Garcia Jimenez',
'Benito Becaresmartinbenito martin',
'Alberto Lopez',
'Rafael Espino Garcia',
'Carlos Menéndez Villar',
'Maria Garcia Perez',
'Raul Ruiz zubelzu',
'Andres Crespo Gomez',
'JAVIER Hernansaiz Blanch',
'David Tejedor lopez',
'Francisco José Romero Torregrosa',
'Juan Sánchez Ramos',
'Manuel Gutierrez Infante',
'Ruben Fernandez Marin',
'José Galván Espinosa',
'Damaso Pérez Carrasco',
'José Luis castellot doblas',
'Inés García Lamuño',
'Jose Rubio Cánovas',
'Javier L Gomez',
'Luis Miguel Fernández Cubo',
'Nacho Mampel',
'Isabel Aguila Martinez',
'Angel Ortiz Castaño',
'Alex Jacas Dasilva',
'Víctor Hernández García',
'Jose Maria Leon Gil',
'Antonio Gil sanchez-vallejo',
'Jpablo Grassa Miranda',
'Pelayo Sanchez Alvarez',
'Adrian Cobos García',
'MONICA AGUIRRE GARCÍA',
'oscar raigon',
'JUAN BOSCO GUTIERREZ MACIAS',
'Daniel Blanco Navarro',
'ÁNGELA FERNÁNDEZ GALVÍN',
'Paola Juárez Gómez',
'juan antonio ferrón becerra',
'Alvaro Marquez Vacas',
'ANDRÉS MIGUEL DE LOS DOLORES LUCAS',
'Jose Cienfuegos-Jovellanos',
'Iris Gomez martinez',
'Vicent Grimaltos Ribes',
'Niki Duran',
'Roger Masegosa',
'Carlos Montalvo Madridano',
'Alejandro Cutanda Gómez',
'Gustavo Corrales Exposito',
'Aday Rios cabrera',
'Miguel Angel Sierras Suárez',
'Federico Garrido Alonso',
'Luis Ledesma frutos',
'Romina Bentancour',
'Ricardo Hernandez Sanchez',
'Pablo Terol Buchó',
'Jesus García Salas',
'Oskar Artola Urquizu',
'ROBERTO HERNANDO ABIA',
'Pablo De Damborenea Martin',
'Ana Sánchez Gómez',
'Vanessa De Alba Rando',
'Fernando Cepedano Cañon',
'Oscar Delgado Sánchez',
'OSCAR OROZCO ORTS',
'Francisco López Rodríguez',
'fco.angel hormigo gil',
'Fco javier Agüera gomez',
'JOSE M DE MELO GUIMERA',
'carlos López garcia',
'OSCAR OROZCO ORTS',
'Angel Borrella',
'Vanessa De Alba Rando',
'Eduard Socias Alejandro',
'Vanessa De Alba Rando',
'María Vázquez castaño',
'Francisco Boto Fernandez',
'Marcos Pazo Pérez',
'José enrique Fernández garcia',
'M Carmen Pérez Zúñiga',
'Jorge Massa Achútegui',
'Claudio Heidel',
'Juan Echagüe Guardiola',
'Lucas Medina Gaite',
'Jose David Ruiz Estalayo',
'Jeronimo Blanco Velarde',
'Sergio Tallón galdeano',
'Ivan Perez Dominguez',
'DANIEL CABRERA RAMIREZ',
'Pablo Paredes grau',
'Oscar Caño Nieto',
'M.carmen Jiménez bermudez',
'Pablo Paredes grau',
'Claudio Heidel',
'Israel Bernad Morales',
'Pedro Barcina Virumbrales',
'Abel Gomez canillas',
'Xabier Jz',
'Jacobo Quiñoá Casteleiro',
'Pere Casals zamora',
'Jose Lopez Alvarez',
'Manuel Rodriguez Gonzalez',
'Francisco Manuel Galera Capitán',
'David Hernández Pérez',
'Floren Delgado Galeano',
'Jordi Egea',
'Sergio Masmitja',
'Antonio Serrano jimenez',
'Gerard Carrasco',
'José Luis Navarro galvez',
'CRISTOBAL DÍAZ NAVARRO',
'Xavier Plana Bach',
'Sergio Masmitja',
'Enric Peiris matas',
'Iker Baranguan',
'Guillermo Corrales Zapater',
'Juan Belda Monzon',
'JOSE RAMON ARNAIZ',
'Victor Socias Alejandro',
'Juan Belda Monzon',
'JONATAN CALLEJA',
'JUAN Belda Monzon',
'Marc Garcia Vilanova',
'Carlos Otero Marnotes',
'Roberto Sanchez bernaldo',
'Miguel angel Barea Chacón',
'Antonio Gatón',
'David Romeo Carbonell',
'david iñesta marco',
'Pablo Franco Bescós',
'Oscar Capell Pernia',
'Dolores Torres alfaro',
'JACOB MARTÍNEZ VINATEA',
'Marcos Jiménez Martinez',
'Iván Limenes Gay',
'Luis España Villa',
'Jorge Escorihuela sales',
'Albert Camps i Terricabras',
'VICENTE GIL CABOT',
'Diego Bule Martos',
'Raul Lorenzo Hinojosa',
'ALEJANDRO SANCHEZ GARCIA',
'Silvia Infante Martín',
'Natalia Muiño López',
'Claudio Luz',
'Ramon Farré i Falcó',
'Mikel Arrieta',
'Francisco Palomar',
'Manuel david Torres palau',
'Eric Lorenzo Hinjosa',
'Antonio Morales Alarcón',
'ORIOL LAZARO',
'Gema María Rodríguez Borges',
'Omar González Sampedro',
'alejandro martinez vinatea',
'Arturo Oliva Casañas',
'Ramon Farré i Falcó',
'José Antonio Gonzalez Peña',
'Daniel Hernando Gómez',
'Sergio Sánchez González',
'Xavier Bea',
'Nataixa Ros',
'Cristian Codony ciratusa',
'Javier Israel Fuentes Puntas',
'Bony Garcia Araujo',
'Miguel Angel Pomares Reyes',
'Javier Caballero Ortiz',
'Ignacio Monserrat Lazaro',
'David Falgas Sánchez',
'Ivan Gallego Lopez',
'Patrick Gunella Fernández',
'Vicente Gil Cabot',
'Albert Ormazábal',
'ROSENDO RODRIGUEZ TEY',
'Pablo Valdés Lavin',
'Alberto López López',
'Noelia Fornell Velazquez',
'alejandro cristobal harina',
'Ruben Fortes Santaella',
'LEJEUNE Patrick',
'Alberto Tomás Quiles Jaque',
'Belinda Ortiz ruiz',
'Miguel Angel Tapia Gonzalez',
'Dario Perez sanz',
'Emilio Blanco Gómez',
'Fernando Vázquez Río',
'Ayoze Santana Antonio',
'Juan Paredes Misa',
'Sergio Vidal Pallarés',
'Garikoitz Franco Venero',
'Ana Zaton cano',
'Javier Martinez',
'Sergio Vidal Pallarés',
'galder Gómez ruiz',
'Sergio Vázquez',
'Ambrosio Camps Sanchez',
'Santi Safont Herrera',
'marc roca catllà',
'Pablo Castrillo',
'Ignacio Monserrat Lazaro',
'MANUEL PÉREZ CASTELLÓ',
'Gaizka Larrañaga Espartero',
'José luis Bermudez Peral',
'Javier González de la Rica',
'Ana Cristina Morejon Cayetano'
]	
%}



<section>
	<div class="row">
        <div class="span12">
			<h1>LISTADO DE INTERESADOS EN LA COMPRA CONJUNTA DE LA VW T6</h1>
		</div>

        <div class="span12">
			<p>(Actualización del listado semanal)</p>
			<h3>Si estás interesado en la compra conjunta de la Volkswagen Furgomania, VISITA NUESTRO <a href="https://www.facebook.com/Furgomania/">FACEBOOK</a> Y ¡ÚNETE!. Pon un comentario en la publicación que verás en primera posición de nuestro muro y nosotros nos pondremos en contacto contigo.</h3>
        </div>
		
        <div class="span6">
			<ol>
				{% for name in names %}
					<li class="BigText">{{name | title}}</li>
				{% endfor %}
			</ol>
        </div>
		
        <div class="span6">
          <img class="img-responsive" alt="Volkswagen Furgomania" src="/img/volkswagen-transporter-furgomania.jpg">
        </div>

	</div>
</section>


{% endblock %}