{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Volkswagen Transporter Furgomania{% endblock %}
{% block description %}{% endblock %}
{% block article %}

{% set names = [
'FRANCISCO JAVIER GONZÁLEZ MONTESDEOCA',
'Manuel Gutierrez Guillen',
'Josep Arderiu Viudes',
'David Cobo García',
'Erica Sarai Pericacho Aguila',
'Sergi Vidal Valencia',
'Ramses Gavidia Camara',
'Carlos Linares Valera',
'Lucía Moran',
'Luis miguel Sanz sanz',
'Andoni Diez',
'Julio Gamero galan',
'José Luis Jurado Barroso',
'Omar Rodríguez',
'Jose Antonio Garcia Jimenez',
'Benito Becaresmartinbenito martin',
'Alberto Lopez',
'Rafael Espino Garcia',
'Carlos Menéndez Villar',
'Maria Garcia Perez',
'Raul Ruiz zubelzu',
'Andres Crespo Gomez',
'JAVIER Hernansaiz Blanch',
'David Tejedor lopez',
'Francisco José Romero Torregrosa',
'Juan Sánchez Ramos',
'Manuel Gutierrez Infante',
'Ruben Fernandez Marin',
'José Galván Espinosa',
'Damaso Pérez Carrasco',
'José Luis castellot doblas',
'Inés García Lamuño',
'Jose Rubio Cánovas',
'Javier L Gomez',
'Luis Miguel Fernández Cubo',
'Nacho Mampel',
'Isabel Aguila Martinez',
'Angel Ortiz Castaño',
'Alex Jacas Dasilva',
'Víctor Hernández García',
'Jose Maria Leon Gil',
'Antonio Gil sanchez-vallejo',
'Jpablo Grassa Miranda',
'Pelayo Sanchez Alvarez',
'Adrian Cobos García',
'MONICA AGUIRRE GARCÍA',
'oscar raigon',
'JUAN BOSCO GUTIERREZ MACIAS',
'Daniel Blanco Navarro',
'ÁNGELA FERNÁNDEZ GALVÍN',
'Paola Juárez Gómez',
'juan antonio ferrón becerra',
'Alvaro Marquez Vacas',
'ANDRÉS MIGUEL DE LOS DOLORES LUCAS',
'Jose Cienfuegos-Jovellanos',
'Iris Gomez martinez',
'Vicent Grimaltos Ribes',
'Niki Duran',
'Roger Masegosa',
'Carlos Montalvo Madridano',
'Alejandro Cutanda Gómez',
'Gustavo Corrales Exposito',
'Aday Rios cabrera',
'Miguel Angel Sierras Suárez',
'Federico Garrido Alonso',
'Luis Ledesma frutos',
'Romina Bentancour',
'Ricardo Hernandez Sanchez',
'Pablo Terol Buchó',
'Aday Rios cabrera',
'Jesus García Salas',
'Oskar Artola Urquizu',
'ROBERTO HERNANDO ABIA',
'Pablo De Damborenea Martin',
'Ana Sánchez Gómez',
'Vanessa De Alba Rando',
'Fernando Cepedano Cañon',
'Oscar Delgado Sánchez',
'OSCAR OROZCO ORTS',
'Francisco López Rodríguez',
'fco.angel hormigo gil',
'Fco javier Agüera gomez',
'JOSE M DE MELO GUIMERA',
'carlos López garcia',
'OSCAR OROZCO ORTS',
'Angel Borrella',
'Vanessa De Alba Rando',
'Eduard Socias Alejandro',
'Vanessa De Alba Rando',
'María Vázquez castaño',
'Francisco Boto Fernandez',
'Marcos Pazo Pérez',
'José enrique Fernández garcia',
'M Carmen Pérez Zúñiga',
'Jorge Massa Achútegui',
'Claudio Heidel',
'Juan Echagüe Guardiola',
'Lucas Medina Gaite',
'Jose David Ruiz Estalayo',
'Jeronimo Blanco Velarde',
'Sergio Tallón galdeano',
'Ivan Perez Dominguez',
'DANIEL CABRERA RAMIREZ',
'Pablo Paredes grau',
'Oscar Caño Nieto',
'M.carmen Jiménez bermudez',
'Pablo Paredes grau',
'Claudio Heidel',
'Israel Bernad Morales',
'Pedro Barcina Virumbrales',
'Abel Gomez canillas',
'Xabier Jz',
'Jacobo Quiñoá Casteleiro',
'Pere Casals zamora',
'Jose Lopez Alvarez',
'Manuel Rodriguez Gonzalez',
'Francisco Manuel Galera Capitán',
'David Hernández Pérez',
'Floren Delgado Galeano'
]	
%}



<section>
	<div class="row">
        <div class="span12">
			<h1>LISTADO DE INTERESADOS EN LA COMPRA CONJUNTA DE LA VW T6</h1>
		</div>

        <div class="span12">
			<p>(Actualización del listado semanal)</p>
			<h3>Si estás interesado en la compra conjunta de la Volkswagen Transporter Furgomania, VISITA NUESTRO <a href="https://www.facebook.com/Furgomania/">FACEBOOK</a> Y ¡ÚNETE!. Pon un comentario en la publicación que verás en primera posición de nuestro muro y nosotros nos pondremos en contacto contigo.</h3>
        </div>
		
        <div class="span6">
			<ol>
				{% for name in names %}
					<li class="BigText">{{name | title}}</li>
				{% endfor %}
			</ol>
        </div>
		
        <div class="span6">
          <img class="img-responsive" alt="Volkswagen Transporter Furgomania" src="/img/volkswagen-transporter-furgomania.jpg">
        </div>

	</div>
</section>


{% endblock %}