{% extends 'mainBundle::layout.html.twig' %}
{% block title %}Volkswagen Transporter Furgomania{% endblock %}
{% block description %}{% endblock %}
{% block article %}


<section>
	<div class="row">
		<div class="span12">
			<h1>{{"INTERESADOS EN LA VOLKSWAGEN TRANSPORTER FURGOMANIA" | trans }}</h1>
		</div>
	</div>
</section>

<section>
</section>

{% endblock %}