  <!-- Buttons -->
    <div class="row" >
      <div class="span12 innerNavWrapper">
        <nav  id="innerNav" class="clearfix innerNavWrapperIcons"> <a href="#diseno1" id="one"><i class="icon-heart"></i><span>{{"DISEÑO ELEGANTE"|trans}}</span></a> <a href="#diseno2" id="two"><i class="icon-thumbs-up"></i><span>{{"CALIDAD"|trans}}</span></a> <a href="#diseno3" id="three"><i class="icon-cog"></i><span>{{"FACIL INSTALACIÓN"|trans}}</span></a> </nav>
      </div>
    </div>
  <!-- Buttons / -->
