
  <!-- D2 -->
        <div id="diseno2" class="row">
		
		<hr>
		
		<div class="span4"> <img src="/kits/prov/2.jpg" alt="proceso fabricación Kit autoinstalable furgomania para furgonetas camper"> </div>
          <div class="span4">
            <h3>Materiales</h3>
            <p> Maderas sólidas y compactas, el DM Hidrófugo de alta densidad es el elegido, proceso de corte y fresado con pantógrafo, diseño y construcción resistente a golpes, baches y demás. Nuestros ingenieros se han devanado los sesos para lograr la mejor construcción posible, y para lograrlo, los mejores materiales y procesos. </p>
            <p> Nuestro sistema único y patentado de anclaje, el diseño y la construcción hace que el mobiliario completo forme parte de tu vehículo como si viniese de serie en tu furgoneta.</p>
          </div>
          <div class="span4">
            <h3>Proceso de fabricación</h3>
            <p> Todas las piezas del Kit Autoinstalable estan diseñadas por ordenador y mecanizadas con la mas alta tecnología, de ahi la limpieza y precisión de los cortes y canteados.</p>	    
	    <p> A diferencia de cualquier trabajo a medida nuestro sistema único de fabricación en serie, asegura que el kit se adapte a tu furgoneta como parte integral.</p>
	    <p> Utilizamos pintura de automoción de alta calidad, aplicamos tres capas y un secado al horno, lo que dota a tus muebles de resistencia al agua, golpes y arañazos, además de unos acabados espéctaculares</p>
          </div>
        </div>

  <!-- \D2 -->

	{% include 'KitsBundle:Parts:instalacion.html.twig' %}



<section class="mb40">
        <div class="row">
          <div class="span12">
            <h2>Nuestros Clientes <span>reconocimiento al miembro mas importante del equipo Furgomania</span></h2>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="/kits/prov/clients/1.jpg" alt="Roberto ( Lugo )"> <p>Roberto ( Lugo )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="http://kitautoinstalable.com/package/images/clients/logo1.png" alt=""> <p>Enric ( Barcelona )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="http://kitautoinstalable.com/package/images/clients/logo1.png" alt=""> <p>Mónica ( Cádiz )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="http://kitautoinstalable.com/package/images/clients/logo1.png" alt=""> <p>Gustavo ( Madrid )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="http://kitautoinstalable.com/package/images/clients/logo1.png" alt=""> <p>Manel ( Barcelona )</p></div>
          </div>
          <div class="span2">
            <div class="clientLogo"> <img src="http://kitautoinstalable.com/package/images/clients/logo1.png" alt=""> <p>Edu ( Barcelona )</p></div>
          </div>
        </div>
      </section>

