  <!-- D1 -->
	<div id="diseno1" class="homeContent">
	      <div class="row mb15">

             <div class="span12">
            <h2> <span>{% trans %}la precisión de las piezas hacen que se adapte como un guante al vehículo{% endtrans %}</span></h2>
          </div>
			<div class="span6"> <img src="{{ asset('img/T_FURGOMANIA-22.jpg') }}" alt="superweb bootstrap web template"> </div>
			<div class="span6">
		  		<blockquote>{% trans %}Cuidadas y elegantes curvas definen la nueva colección de kits, acabados armoniosos que se integran con el interior de tu vehículo.{% endtrans %}</blockquote>
		  		<p> {% trans %}del mismo modo que la anterior coleccion de KITS autoinstalables para furgoneta, los nuevos kits no precisan homologación en la I.T.V.{% endtrans %}</p>
			</div>
      		</div>
	</div>















