
  <!-- D2 -->
        <div id="diseno2" class="row">
		
			<hr>  
			
			<div class="span4"> <img src="{{ asset('img/FURGOMANIA-1.jpg') }}" alt="superweb bootstrap web template"> </div>
			<div class="span4">
				<h3>{{ "Materiales" | trans }}</h3>
				<p> {% trans %}Maderas solidas, montajes con fresado, diseño y construcción resistente a golpes, baches y demás. Nuestros ingenieros se han devanado los sesos para lograr la mejor construcción posible, y para lograrlo, los mejores materiales con tratamiento hidrófugo.{% endtrans %} </p>
				<p> {% trans %}Nuestro sistema único y patentado de anclaje hace que el mobiliario completo forme parte de tu furgo como si hubiese sido fabricado en conjunto. {% endtrans %}</p>
			</div>
			<div class="span4">
				<h3>{{ "Proceso de fabricación" | trans }}</h3>
				<p> {% trans %}Todas las piezas del Kit Autoinstalable estan diseñadas por ordenador y mecanizadas con la mas alta tecnología, de ahi la limpieza y precisión de los cortes y canteados.{% endtrans %}</p>	    
				<p> {% trans %}A diferencia de cualquier trabajo a medida nuestro sistema único de fabricación en serie, asegura que el kit se adapte a tu furgoneta como parte integral.{% endtrans %}</p>
			</div>
        </div>