
  <!-- D2 -->

		<div id="diseno2" class="row">
		
			<hr>  
			
			<div class="span12"><h3>{{ "Fabricación" | trans }}</h3></div>
			<div class="span8">
				<p>{% trans %}Furgomania desarrolla los prototipos que más tarde se montarán en cada modelo de furgoneta. Supervisamos todo el proceso de fabricación desde su inicio a fin desde las fabricas externas concertadas.{% endtrans %}</p>
                
                <p>{% trans %}Este sistema de fabricación nos garantiza un excelente acabado de nuestros productos, ya que cada elemento esta fabricado por empresas profesionales en su sector.{% endtrans %}</p>
                
                <p>{% trans %}Realizamos un seguimiento de cada elemento y concluimos con un control de calidad de cada <strong>kit autoinstalable</strong>.{% endtrans %}</p>
                
				<p>{% trans %}Todos los elementos están fabricados con los más modernos sistemas de fabricación y maquinaria asistida por ordenador, lo que asegura una fabricación milimétrica de cada kit para su furgoneta. Como consecuencia,  disfrutarás de una furgoneta camperizada con un kit de encaje perfecto para su vehículo.{% endtrans %}</p>
			</div>
			<div class="span4"> <img src="{{ asset('img/Fabricacion.jpg') }}" alt="Fabricación de los kits autoinstalables para furgonetas camper"> </div>
		
        </div>
		