
  <!-- D2 -->

		<div id="diseno2" class="row">
		
			<hr>  
			
			<div class="span12"><h3>{{ "Fabricación" | trans }}</h3></div>
			<div class="span8">
				<p>{% trans %}Furgomania no fabrica sus productos con personal propio. Nos dedicamos al desarrollo de los prototipos y supervisamos la fabricación en las fabricas externas que tenemos concertadas. Este sistema de fabricación nos garantiza un excelente acabado de nuestros productos ya que cada elemento esta fabricado por empresas profesionales en cada sector. Realizamos un seguimiento de cada elemento y concluimos con un control de calidad de cada kit. Todos los elementos son fabricados con los más modernos sistemas de fabricación. Maquinaria asistida por ordenador lo que asegura una fabricación milimétrica y en consecuencia un perfecto encaje en tu vehículo.{% endtrans %}</p>
			</div>
			<div class="span4"> <img src="{{ asset('img/Fabricacion.jpg') }}" alt="superweb bootstrap web template"> </div>
		
        </div>
		