 
  <!-- slider -->
  <div class="row ">
    <div class="span12">
		<div class="slideN" style="width: 100%; float: left; display: block;">
				<div class="video-container">
					<iframe src="{% trans %}URL_VIDEO_EXPLICATIVO{% endtrans %}" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>
      </div>
  </div>
  <!-- slider -->
