  <!-- slider -->
  <div class="row ">
    <div class="span12">
      <div class="videolayer">

          <div class="span12">
            <h2> <span>kit autoinstalable, video de instalacion</span></h2>
          </div>
        <iframe src="http://player.vimeo.com/video/78682434" width="100%" height="397" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>


      <div class="flexslider">
        <ul class="slides sliderWrapper">


         <li class="slideN0" style="width: 930px; float: left; display: block;">
			<a href="#"><img src="/img/slider/viano-larga/fondo.jpg" alt=""/></a>
			<div class="caption left">
			
              <div class="th-top" data-animation="fadeInLeftBig">
                <img src="/img/slider/viano-larga/th1.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom" data-animation="fadeInLeftBig">
                <img src="/img/slider/viano-larga/th3.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom-center" data-animation="bounceInUp">
                <img src="/img/slider/viano-larga/th-mercedes-viano-larga.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
			</div>
			
            <div class="caption right">
			
              <div class="element2-1" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Camperiza tu Mercedes Benz Viano{% endtrans %} </h2>
              </div>
              <div class="element2-2" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin herramientas{% endtrans %} </h2>
              </div>
              <div class="element2-3" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin moverte de casa{% endtrans %} </h2>
              </div>
              <div class="element2-4" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin I.T.V.{% endtrans %} </h2>
              </div>
              <div class="element2-5" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin taller{% endtrans %} </h2>
              </div>
			  
              <div class="th-bottom" data-animation="fadeInRightBig">
                <img src="/img/slider/viano-larga/th2.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
            </div>
          </li>

         <li class="slideN1" style="width: 930px; float: left; display: block;">
			<a href="#"><img src="/img/slider/volkswagen-transporter/fondo.jpg" alt=""/></a>
			<div class="caption left">
			
              <div class="th-top" data-animation="fadeInLeftBig">
                <img src="/img/slider/volkswagen-transporter/th2.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom" data-animation="fadeInLeftBig">
                <img src="/img/slider/volkswagen-transporter/th3.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom-center" data-animation="bounceInUp">
                <img src="/img/slider/volkswagen-transporter/th-volkswagen-transporter.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
			</div>
			
            <div class="caption right">
			
              <div class="element2-1" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Camperiza tu Volkswagen Transporter{% endtrans %} </h2>
              </div>
              <div class="element2-2" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin herramientas{% endtrans %} </h2>
              </div>
              <div class="element2-3" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin moverte de casa{% endtrans %} </h2>
              </div>
              <div class="element2-4" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}En pocos minutos{% endtrans %} </h2>
              </div>
              <div class="element2-5" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin I.T.V. y sin taller{% endtrans %} </h2>
              </div>
			  
              <div class="th-bottom" data-animation="fadeInRightBig">
                <img src="/img/slider/volkswagen-transporter/th1.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
            </div>
          </li>

         <li class="slideN2" style="width: 930px; float: left; display: block;">
			<a href="#"><img src="/img/slider/citroen-jumpy/fondo.jpg" alt=""/></a>
			<div class="caption left">
			
              <div class="th-top" data-animation="fadeInLeftBig">
                <img src="/img/slider/citroen-jumpy/th1.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom" data-animation="fadeInLeftBig">
                <img src="/img/slider/citroen-jumpy/th2.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom-center" data-animation="bounceInUp">
                <img src="/img/slider/citroen-jumpy/th-citroen-jumpy.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
			</div>
			
            <div class="caption right">
			
              <div class="element2-1" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Kits para Jumpy-Expert-Scudo{% endtrans %} </h2>
              </div>
              <div class="element2-2" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Chasis corto tapizado interior{% endtrans %} </h2>
              </div>
              <div class="element2-3" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Móntalo sin herramientas{% endtrans %} </h2>
              </div>
              <div class="element2-4" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}En 10 días te llega a casa{% endtrans %} </h2>
              </div>
			  
              <div class="th-bottom" data-animation="fadeInRightBig">
                <img src="/img/slider/vito-larga/th3.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
            </div>
          </li>
		  

         <li class="slideN3" style="width: 930px; float: left; display: block;">
			<a href="#"><img src="/img/slider/trafic/fondo.jpg" alt=""/></a>
			<div class="caption left">
			
              <div class="th-top" data-animation="fadeInLeftBig">
                <img src="/img/slider/trafic/th1.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom" data-animation="fadeInLeftBig">
                <img src="/img/slider/trafic/th2.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom-center" data-animation="bounceInUp">
                <img src="/img/slider/trafic/th-renault-trafic.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
			</div>
			
            <div class="caption right">
			
              <div class="element2-1" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Camperiza tu Trafic, Vivaro o Primastar{% endtrans %} </h2>
              </div>
              <div class="element2-2" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin herramientas{% endtrans %} </h2>
              </div>
              <div class="element2-3" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin moverte de casa{% endtrans %} </h2>
              </div>
              <div class="element2-4" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}En pocos minutos{% endtrans %} </h2>
              </div>
              <div class="element2-5" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin I.T.V. y sin taller{% endtrans %} </h2>
              </div>
			  
              <div class="th-bottom" data-animation="fadeInRightBig">
                <img src="/img/slider/trafic/th3.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
            </div>
          </li>


         <li class="slideN4" style="width: 930px; float: left; display: block;">
			<a href="#"><img src="/img/slider/vito-larga/fondo.jpg" alt=""/></a>
			<div class="caption left">
			
              <div class="th-top" data-animation="fadeInLeftBig">
                <img src="/img/slider/vito-larga/th1.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom" data-animation="fadeInLeftBig">
                <img src="/img/slider/vito-larga/th2.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom-center" data-animation="bounceInUp">
                <img src="/img/slider/vito-larga/th-vito-larga.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
			</div>
			
            <div class="caption right">
			
              <div class="element2-1" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Camperiza tu Mercedes Vito{% endtrans %} </h2>
              </div>
              <div class="element2-2" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin herramientas{% endtrans %} </h2>
              </div>
              <div class="element2-3" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin moverte de casa{% endtrans %} </h2>
              </div>
              <div class="element2-4" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}En pocos minutos{% endtrans %} </h2>
              </div>
              <div class="element2-5" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Sin I.T.V. y sin taller{% endtrans %} </h2>
              </div>
			  
              <div class="th-bottom" data-animation="fadeInRightBig">
                <img src="/img/slider/vito-larga/th3.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
            </div>
          </li>


         <li class="slideN5" style="width: 930px; float: left; display: block;">
			<a href="#"><img src="/img/slider/furgomania-marcas/fondo.jpg" alt=""/></a>
			<div class="caption left">
			
              <div class="th-top" data-animation="fadeInLeftBig">
                <img src="/img/slider/furgomania-marcas/th1.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-large-bottom-center" data-animation="bounceInUp">
                <img src="/img/slider/furgomania-marcas/marcas.jpg" alt="KITS FURGOMANIA" />
              </div>
			
              <div class="element4-center" data-animation="bounceInDown">
                <h2>{% trans %}INVITAMOS A TODAS LAS MARCAS A EXPONER NUESTROS KITS. NUESTRO PRODUCTO AYUDA A ACERCAR EL MUNDO DEL CAMPER A TODOS LOS CLIENTES{% endtrans %}</h2>
              </div>
			
			</div>
			
            <div class="caption right">
			
              <div class="th-top" data-animation="fadeInRightBig">
                <img src="/img/slider/furgomania-marcas/th2.jpg" alt="KITS FURGOMANIA" />
              </div>
            </div>
          </li>
		  
		  
         <li class="slideN6" style="width: 930px; float: left; display: block;">
			<a href="#"><img src="/img/slider/sistema-anclaje/fondo.jpg" alt=""/></a>
			<div class="caption left">
			
              <div class="th-top" data-animation="fadeInLeftBig">
                <img src="/img/slider/sistema-anclaje/th1.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom-no-border" data-animation="fadeInLeftBig">
                <img src="/img/slider/sistema-anclaje/th2.png" alt="KITS FURGOMANIA" />
              </div>
			  
			</div>
			
            <div class="caption right">
			
              <div class="element2-1" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Pensado para que no te compliques la vida{% endtrans %} </h2>
              </div>
              <div class="element2-2" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}No necesita mano de obra especializada{% endtrans %} </h2>
              </div>
              <div class="element2-3" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Te lo enviamos a casa en 10 dias{% endtrans %} </h2>
              </div>
              <div class="element2-4" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}SISTEMA DE ANCLAJE PATENTADO{% endtrans %} </h2>
              </div>
			  
              <div class="th-bottom-no-border" data-animation="fadeInRightBig">
                <img src="/img/slider/sistema-anclaje/th3.png" alt="KITS FURGOMANIA" />
              </div>
			  
            </div>
          </li>


         <li class="slideN7" style="width: 930px; float: left; display: block;">
			<a href="#"><img src="/img/slider/fabricacion/fondo.jpg" alt=""/></a>
			<div class="caption left">
			
              <div class="th-top" data-animation="fadeInLeftBig">
                <img src="/img/slider/fabricacion/th1.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
              <div class="th-bottom" data-animation="fadeInLeftBig">
                <img src="/img/slider/fabricacion/th2.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
			</div>
			
            <div class="caption right">
			
              <div class="element2-1" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Aseguramos un perfecto encaje{% endtrans %} </h2>
              </div>
              <div class="element2-2" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}Cortes milimétricos por pantógrafo{% endtrans %} </h2>
              </div>
              <div class="element2-3" data-animation="fadeInRightBig">
                <h2><i class="icon-star"></i> {% trans %}2 años de GARANTIA{% endtrans %} </h2>
              </div>
			  
              <div class="th-bottom" data-animation="fadeInRightBig">
                <img src="/img/slider/fabricacion/th3.jpg" alt="KITS FURGOMANIA" />
              </div>
			  
            </div>
          </li>
		  
		  
        </ul>
      </div>
	  <div class="flexiShadow"><img src="{{ asset('bundles/main/images/ui/flexi-shadow.png') }}" alt="slider shadow"/></div>
    </div>
  </div>
  <!-- slider -->
