{% extends "erpBundle::layout.modal.html.twig" %}

{% block title -%} Editor Referencia {{ entity.id }}{% endblock %}

{% block body -%}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('referencias') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
