<pdf>

     <dynamic-page encoding="UTF-8" font-type="DejaVuSans" page-size="a4">
        <table>
           <tr>
               <td border-color="white"><img width="100%" src="{{ pdf_image('erpBundle:logo_reduced.png') }}" />

                       <div background-color="#EEEEEE" margin="10px 0px" padding="15px 50px">
            <h1> FECHA DE RECOGIDA </h1>
            
        </div>
               </td>
           </tr>
        </table>





    </dynamic-page>

</pdf>