{% extends "erpBundle::layout.modal.html.twig" %}

{% block title -%} Crear un Bulto {% endblock %}

{% block body -%}


<div class="row-fluid">
    <form class="wideForm" action="{{ path('ordenesfabricacion_create', { 'id': entity.id }) }}" method="POST" {{ form_enctype(form) }}>
					{# <div class="span6">
						<h4>Selecciona contenido del Cajón</h4>
                                    
                        {{ render(controller('erpBundle:Default:selectwidget',{'select' : form.contenido})) }}
		
					</div> #}

                     
					{# <div class="span12">
						<h4>Información del cajón</h4> #}
						{{ form(form) }}
					{# </div> #}


				
    </form>
							
</div>

{% endblock %}
