<article>
<div class="row">
	
	<div class="span12">
	
		<h3>¿Te gustaría convertir tu furgoneta en una auténtica <strong>Mercedes Camper</strong>?</h3>
		<p>En Furgomania, líderes en <strong>camperizar furgonetas</strong>, conseguirás equipar tu furgoneta convencional con muebles y camas gracias a los <a href="http://www.furgomania.com/es/kit-autoinstalable/">kits autoinstalables</a> que encontrarás en este catálogo.</p>
		<p>Los kits para <strong>Mercedes Camper</strong> son fáciles de instalar, no necesitan herramientas complicadas y lo podrás hacer tú mismo en tan sólo 5 minutos, sin acudir a un taller especializado ni pasar la iTV de nuevo.</p>
		<p>Los <strong>muebles camper</strong> creados para <strong>Mercedes</strong>, te permitirán disponer de una furgoneta camperizada en pocos minutos. Desde muebles hasta camas con un diseño cuidado y muy funcional. Además, su sistema de “quita y pon” te permitirá seguir disfrutando de tu furgoneta tradicional siempre que necesites más espacio.</p>
		<p>Los kits autoinstalables de <strong>Mercedes Camper</strong> son ideales para viajar pero también para deportistas y profesionales que deseen desplazarse más cómodamente y disfrutar de la naturaleza.</p>
	
	</div>

	<div class="span12">

		<h2>¿Cómo equipar tu Mercedes camper?</h2>
		<p>Disponemos de diferentes kits autoinstalables para furgonetas Mercedes: Mercedes Vito (larga), Mercedes Viano (larga), Mercedes Viano compacta o Mercedes Citan.</p>

	</div>

	<div class="span6">
		<p>El <strong>KIT ALTO</strong> ofrece la alternativa de no utilizar los sillones traseros para formar la cama y además su estructura está diseñada para incluir una nevera CDF25. Con el kit alto conseguirás convertir tu furgoneta en una autentica Mercedes Camper sin modificar nada.</p>
		<img src="/img/marcas-content/kit-alto.jpg" alt="">
	</div>
	<div class="span6">
		<p>Si dispones de una furgoneta Mercedes más pequeña, el <strong>KIT UNIVERSAL</strong> es ideal para conseguir instalar una cama fácilmente en su interior. </p>
		<img src="/img/marcas-content/kit-universal.jpg" alt="">
	</div>
	
	<div class="span12">
		<h4>¡La mejor solución para camperizar furgonetas!</h4>
	</div>
		
</div>
</article>