<article class="content">
<div class="row">
	
	<div class="span12">

		<h2>Equipamiento para furgonetas Volkswagen</h2>
		<p>En FURGOMANIA encontrarás una gran selección de kits autoinstalables para convertir cualquier modelo de <strong>furgoneta Volkswagen</strong> en una auténtica furgoneta camper.</p>
		<p>Todos nuestros kits son autoinstalables. Se instalan fácilmente en 5 minutos sin pasar por el taller.  No necesitarás herramientas complejas ni conocimientos previos. Además, puedes quitar el kit completo siempre que necesites espacio, disfrutando así de todas las ventajas que te aporta tu furgoneta convencional.</p>
		<p>Disponemos de kits autoinstalables para furgonetas <strong>Volkswagen Camper</strong> de todos los modelos, pero también contamos con un <a href="https://www.furgomania.com/es/furgoneta-camper/todas-las-marcas/kit-universal-furgonetas-pequenas/">kit universal</a> para cualquier tipo de furgonetas más pequeñas.</p>
		<p>En la red de concesionarios colaboradores puedes ver en exposición algunos modelos de furgonetas camper que incluyen los kits autoinstalables. Estos concesionarios están repartidos por toda la geografía española y en ellos, puedes ver y comprobar la calidad de los acabados camper.</p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		
	</div>

	<div class="span12">

		<h3>¿Cómo convertir tu furgoneta en una autentica Volkswagen camper?</h3>
		<p>Si dispones de una furgoneta Volkswagen, puedes equipar su interior con todos los kits disponibles en Furgomania para cada modelo seleccionado.</p>
		
	</div>
	
	<div class="span6">
		<p><img src="/img/marcas-content/kit-cama-ducha.jpg" alt="Kit cama básico para furgonetas Volkswagen para incluir una cama en el interior de tu furgoneta"></p>
	</div>
	<div class="span6">
		<p><img src="/img/marcas-content/kit-mesa-trasera.jpg" alt="•Kit mesa trasera para forgonetas Volkswagen con mesa desplegable trasera para una mayor funcionalidad"></p>
	</div>
	
	<div class="span12">
		<ul>
			<li><strong>Kit cama básico<strong>: kit para incluir una cama en el interior de tu furgoneta.</li>
			<li><strong>Kit cama módulo ancho<strong>: kit diseñado para incluir una cama en el interior y dejar un espacio para el depósito de agua.</li>
			<li><strong>Kit 4 en 1<strong> + nevera: módulo para acoplar una nevera con amplio cajón para guardar la cocina portátil y todos los utensilios. Incluye mesita desplegable.</li>
			<li><strong>Kit mesa delantera<strong>: mesa desplegable delantera.</li>
			<li><strong>Kit mesa trasera<strong>: mesa desplegable trasera que reutiliza la superficie del kit cama, consiguiendo mayor funcionalidad.</li>
			<li><strong>Kit 4 en 1 con arcón<strong>: Kit para incluir un espacio de almacenaje en el interior de tu furgoneta camper. Incluye mesita desplegable.</li>
			<li><strong>Kit universal para furgonetas pequeñas<strong></li>
		</ul>
		<p>Elige tu modelo de <strong>furgoneta Volkswagen</strong> y consigue tu kit autoinstalable.</p>
	</div>
		
</div>
</article>