<pdf>
{% for orden in entity.misordenes  %}
   <dynamic-page encoding="UTF-8" font-type="DejaVuSans" page-size="a4" margin="0mm 0mm">
        <table>
            {% for f,filas in range(0, 1) %}
                <tr>
                    {% for c,columnas in range(0,1) %}

                  
                        <td border-color="#FFFFFF">
                            {% if (f == 0) and (c == 0) %}
                              {% include 'erpBundle:envios:datos.entrega.html.twig' %} 
                            {% else %}
                                {% include 'erpBundle:envios:datos.entrega.html.twig' %} 
                                {# {% include 'erpBundle:envios:datos.producto.html.twig' %}  #}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </dynamic-page>

{% endfor %}





</pdf>