{% extends 'erpBundle::layout.modal.html.twig' %}

{% block title -%} Conceptos únicos {% endblock %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Concepto</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.concepto }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
