{% extends "cmsBundle::layout.modal.html.twig" %}

{% block title -%} Editor de METAS {% endblock %}

{% form_theme edit_form _self %}

{% block body -%}

    {{ form(edit_form) }}

<ul class="record_actions">

    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
